<!-- <template>
    <v-dialog width="auto">
        <template v-slot:activator="{ props: activatorProps }">
        </template>

        <template v-slot:default="{ isActive }">
            <v-card>
                <v-toolbar color="#000" title="Yaaaaay!!"></v-toolbar>

                <v-card-text class="text-h5">
                    <span>Item added to cart!</span>

                </v-card-text>
                <v-card-actions>
                    <RouterLink to="/cart"><v-btn >go to cart</v-btn></RouterLink>
                    <v-btn  color="#DB5EB5" @click="closeDialog">continue shopping</v-btn>
                </v-card-actions>
            </v-card>
        </template>
    </v-dialog>
</template> -->

<template>
    <v-dialog width="auto">
      <template v-slot:default="{ isActive }">
        <v-card>
          <v-toolbar color="#000" title="Yaaaaay!!"></v-toolbar>
  
          <v-card-text class="text-h5">
            <span>Item added to cart!</span>
          </v-card-text>
          <v-card-actions>
            <RouterLink to="/cart"><v-btn>go to cart</v-btn></RouterLink>
            <v-btn color="#DB5EB5" @click="$emit('close-dialog')">
              continue shopping
            </v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </template>
  


<script setup lang="ts">

// import { defineProps, ref } from 'vue';

// const props = defineProps({
//     isActive: {
//         type: Boolean,
//         default: false
//     }
// });

// const dialogActive = ref(props.isActive);

// const closeDialog = () => {
//     dialogActive.value = false;
// };

</script>

<style scoped>
.v-card {
    background-color: #f4f4f4;
    color: #1d141a;
    border-radius: 50%;
    width: 400px;
    height: 200px;

}

.v-dialog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}


</style>