<template>
  <v-container>
    <v-row>
      <v-col cols="6">

        <v-img :src="baseURL + product.photo" height="200" :alt="product.name"></v-img>
        <!-- <v-card-title>{{ product.name }}</v-card-title> -->
        <div class="btns">
          <!-- <v-btn>MODIFIER</v-btn> -->
          <v-btn>AJOUTER AUX FAVORIS</v-btn>
          <v-btn @click="removeItemCompletely(product)">SUPPRIMER</v-btn>
        </div>

      </v-col>

      <v-col cols="6" class="col-text">
        <v-card-title class="font-weight-bold">{{ product.name }}</v-card-title>
        <v-card-text>
          <p class="caption">Prix unitaire : {{ product.price }} €</p>

          <p class="body-1 ">Prix total : {{ calculateTotalPrice(product) }} €</p>
          <p class="caption mt-5">Quantity :</p>
        </v-card-text>

        <v-card-actions>
          <v-btn class="mr-4" color="error" @click="removeFromCart(product)"><span>-</span></v-btn>
          <p class="caption">{{ product.quantity }}</p>
          <v-btn color="success" @click="addToCart(product)"><span>+</span></v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useCartStore } from '@/store/cart';
import type { Product } from '@/entities';

const baseURL = 'http://localhost:8080';

const props = defineProps<{
  product: Product;
}>();

const cartStore = useCartStore();

const calculateTotalPrice = (product: Product): number => {
  return product.quantity * product.price;
};

const addToCart = (product: Product) => {
  cartStore.addToCart(product);
};

const removeFromCart = (product: Product) => {
  cartStore.removeFromCart(product);
};

const removeItemCompletely = (product: Product) => {
  cartStore.removeItemCompletely(product);
};

</script>

<style scoped>
.btns {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.v-btn {
  font-size: 12px;
  padding: 5px 10px;
  background-color: transparent;
  color: #DB5EB5;
  border: #DB5EB5 solid 1px;
}

.v-btn span {
  font-size: 18px;
}

v-col .col-text {

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.v-card-actions {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  color: #DB5EB5;
  font-size: 18px;
  padding: 5px 10px;

}
</style>