<template>
    <v-btn icon @click="$router.push('/cart')">
      <v-icon>mdi-cart</v-icon>
      <v-badge
        :content="cartItemsCount"
        color="error"
        offset-x="10"
        offset-y="10"
        dot
        v-if="cartItemsCount > 0"
      />
    </v-btn>
  </template>
  
  <script setup lang="ts">
  import { computed } from 'vue';
  import { useCartStore } from '@/store/cart';
  import { useRouter } from 'vue-router';
  
  const cartStore = useCartStore();
  const cartItemsCount = computed(() => cartStore.cartItems.length);
  const router = useRouter();
  </script>

  