<template>
    <div class="container-fluid-cart">
        <v-card class="mx-auto mt-5" max-width="800">
            <v-card-title style="background-color: #DB5EB5; color: #f4f4f4;">
                <span class="text-h5 d-flex justify-center font-weight-bold">My Cart</span>
            </v-card-title>
            <v-divider></v-divider>
            <div class="card-flex-cart">
                <CartItem v-for="(product, index) in cartItems" :key="index" :product="product" />
            </div>
            <div class="btn-cart d-flex justify-center">
                <div v-if="cartItems.length > 0">
                    <h2>Total to pay : {{ totalPrice }} €</h2>
                    <v-btn class="mr-4" @click="clearCart">Delete cart</v-btn>
                    <v-btn color="#DB5EB5">Check out</v-btn>
                </div>
                <div v-else>
                    <v-img src="https://assets.materialup.com/uploads/16e7d0ed-140b-4f86-9b7e-d9d1c04edb2b/preview.png"></v-img>
                    <h3 class="mt-5">Your cart is empty.  </h3>
                </div>
            </div>
        </v-card>
    </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useCartStore } from '@/store/cart';
import CartItem from './CartItem.vue';

const cartStore = useCartStore();
const cartItems = computed(() => cartStore.cartItems);
const totalPrice = computed(() => cartStore.totalPrice);

const clearCart = () => {
    cartStore.clearCart();
};
</script>

<style scoped>
.v-card  {
    padding: 30px;
}
</style>