<script setup lang="ts">
import { ref } from 'vue';
import type { Review } from '@/entities';

const review = ref<Review>({
    note: 1,
    comment: ""
}) 


const emit = defineEmits<{
    submit: [review: Review]
}>();


function sent() {
     emit('submit', review.value)
        review.value = {
            note: 1,
            comment: ''
        };
}

//-> lancer l'emit submit que j'ai créé dans la fonction sent() ATTENTION verifier si son reveiw.value est pris en compte avant l'envoi ou pas -> FAIRE UN TEST DANS LE BACK POUR SAVOIR 
// dans le defineprops dans le parent, il va falloir lui donner comme action pour ce nom d'action, d'ajouter le commentaire à la liste des commentaires
// click sur Add -> parent doit ajouté le comment à la liste de comment
// si pas authentifier pas visibilité sur le comment.vue 
// OU SE STOCK LES RATINGS ?
// faire en sorte que quand on submit dans le form sur le site que ça envoit dans le back !

</script>




<template>
    <div class="div2div">
            <form @submit.prevent="sent()">
                <div class="stars">
                    <v-rating v-model="review.note" hover></v-rating>
                </div>
                <label for="comment">Comment</label>
                <div class="divComment">
                    <textarea id ="comment" v-model="review.comment"></textarea>
                </div>
                <div id="div-btn">
                    <button>Add</button>
                </div>
            </form>
        </div>
</template>



<style scoped>
.divComment {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.div2div {
    display: flex;
    justify-content: center;
}

.stars {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

textarea {
    border: 1px solid #1111;
    width: 350px;
    margin-top: -15px
}

form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

label {
    margin: 10px;
    font-size: 14px;
}

button {
    margin: 8px;
    width: 80px;
    color: #f5f5f5;
    font-weight: bold;
    background-color: #DB5EB5;
    border: none;
    padding: 2px;
    font-size: 10px;
}

.div-form {
    display: flex;
    justify-content: center;
    width: 370px;
}

#div-btn {
    display: flex;
    justify-content: right;
}
</style>