<template>
  <nav>

    <div class="logo">
      <h2>SHINE BRIGHT</h2>
    </div>
    <ul>
      <li><router-link to="/">Shop</router-link></li>
      <li><router-link to="/about">About</router-link></li>
      <li><router-link to="/contact">Contact</router-link></li>
    </ul>
    <div class="login">
      <v-btn icon>
        <router-link to="/cart"> <v-icon>mdi-cart</v-icon></router-link>
        
    </v-btn>
    </div>
    <v-btn icon>
      <v-icon>mdi-account</v-icon>
    </v-btn>
    <div class="search">
      <input type="text" color="#fff" placeholder="Search...">
      <v-icon>mdi-magnify</v-icon>
    </div>
  </nav>
</template>

<style scoped>
.v-icon {

  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  border: white;
  color: white;

}


template {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#e92597;
  color:white;
  padding: 10px;
  height: 100px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.search input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #D81B60;
}

.login {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.login img {
  height: 30px;
}
</style>