<script setup lang="ts">









</script>

<template>
    <!-- <img src="" alt="">
    <h2>Product's name</h2>
    <h3> Rating average</h3>
    <h3>Price</h3>
    <h4>Name of the one chosen</h4> -->

    <span class="dot1" style="background-color:rgb(238, 168, 168)"></span>
    <span class="dot2" style="background-color:rgb(192, 84, 84)"></span>
    <span class="dot3" style="background-color:rgba(201, 45, 45, 0.884)"></span>
    <span class="dot4" style="background-color:rgba(196, 30, 30, 0.548)"></span>

    <!-- <h5> {{colorName}} </h5> -->

    <v-defaults-provider>
        <v-btn>Add Cart</v-btn>
    </v-defaults-provider>
</template>



<style scoped>
.dot1, .dot2, .dot3, .dot4 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
</style>  