
<template>
  <v-container>
   
    <div class="container-flex">
      <ProductItem v-for="product in products" :key="product.id" :product="product" />
    </div>
  </v-container>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { getAllProducts } from '@/services/product-service';
import ProductItem from './ProductItem.vue';
import type { Product } from '@/entities';

const products = ref<Product[] | null>();

onMounted(async () => {
  try {
    products.value = await getAllProducts();
  } catch (error) {
    console.error('Error fetching products:', error);
  }
});
</script>

<style scoped>
  .container-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.product-card {
  width: 550px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.image-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-image {
  transform: scale(1.02);
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FF5722;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .heart-icon {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.see-more-link {
  color: #D81B60;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.see-more-link:hover {
  color: #880E4F;
  text-decoration: underline;
}

.product-card:hover .see-more-link {
  color: #880E4F;
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.v-btn {
  width: 100px;
  height: 40px;
  font-size: 12px;
  margin: 10px;

  .v-btn span {
  font-size: 12px;
}
}
</style>