<template>
  <v-container v-if="product">
    <v-card>
      <v-img :src="baseURL + product.photo" height="300px" cover />
      <v-card-title>{{ product.name }}</v-card-title>
      <v-card-text>
        <p>{{ product.description }}</p>
        <p>Prix: {{ product.price }} €</p>
        <p>Stock: {{ product.stock ? 'En stock' : 'Indisponible' }}</p>
      </v-card-text>
      <v-btn color="#DB5EB5" @click="addToCart(product)">
        <span>ADD TO CART</span>
      </v-btn>
    </v-card>
  </v-container>
  <v-container v-else>
    <div>Loading product details...</div>
  </v-container>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { useCartStore } from '@/store/cart';
import { getProductById } from '@/services/product-service';
import type { Product } from '@/entities';

const props = defineProps<{
  id: number;
}>();

const cartStore = useCartStore();
const baseURL = 'http://localhost:8080';

const product = ref<Product>({
"description": "",
"id": 0,
"name": "",
"price": 0,
"photo": "",
heartColor: undefined,
stock: false,
quantity: 0,
isFavorite: false
});

onMounted(async () => {
  try {
    product.value = await getProductById(props.id);
  } catch (error) {
    console.error('Error fetching product:', error);
  }
});

const addToCart = (product: Product) => {
  cartStore.addToCart(product);
};
</script>