<!-- <template>
  <v-card class="m-4 product-card">
    <div class="image-container">
      <img :src="baseURL + product.photo" class="product-image" @click="showDetails(product)">
      <v-icon class="heart-icon" :color="product.heartColor" @click="toggleHeartColor(product)">
        {{ product.isFavorite ? 'mdi-heart' : 'mdi-heart-outline' }}
      </v-icon>
    </div>
    <v-card-title>{{ product.name }}</v-card-title>
    <v-card-text>{{ product.price }} €</v-card-text>
    <v-btn color="#DB5EB5" @click="addToCart(product)">
      <span>ADD TO CART</span>
    </v-btn>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useCartStore } from '@/store/cart';
import type { Product } from '@/entities';
import { useRouter } from 'vue-router';

const props = defineProps<{
  product: Product;
}>();

const cartStore = useCartStore();
const baseURL = 'http://localhost:8080';

const toggleHeartColor = (product: Product) => {
  props.product.heartColor = props.product.heartColor === 'red' ? '' : 'red';
  props.product.isFavorite = !props.product.isFavorite;
};

const addToCart = (product: Product) => {
  cartStore.addToCart(product);
};

const showDetails = (product: Product) => {
  const router = useRouter();
  router.push(`/products/${product.id}`);
};
</script> -->

<template>
  <v-card class="m-4 product-card">
    <div class="image-container">
      <img :src="baseURL + product.photo" class="product-image" @click="showDetails(product)">
      <v-icon class="heart-icon" :color="product.heartColor" @click="toggleHeartColor(product)">
        {{ product.isFavorite ? 'mdi-heart' : 'mdi-heart-outline' }}
      </v-icon>
    </div>
    <v-card-title>{{ product.name }}</v-card-title>
    <v-card-text class="font-weight-black">{{ product.price }} €</v-card-text>
    <div class="add-btn">

      <v-btn color="#DB5EB5" @click="addToCart(product); showAddToCartDialog()">
        <span>ADD TO CART</span>
      </v-btn>
    </div>
    <!-- <AddToCartDialog v-model="dialog.isActive" /> -->
    <AddToCartDialog v-model="dialog.isActive" @close-dialog="dialog.isActive = false" />
  </v-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useCartStore } from '@/store/cart';
import type { Product } from '@/entities';
import { useRouter } from 'vue-router';
import AddToCartDialog from '@/components/AddToCartDialog.vue';

const props = defineProps<{
  product: Product;
}>();

const cartStore = useCartStore();
const baseURL = 'http://localhost:8080';

const dialog = ref({
  isActive: false
});

function showAddToCartDialog() {
  dialog.value.isActive = true;
}


function toggleHeartColor(product: Product) {
  props.product.heartColor = props.product.heartColor === 'red' ? '' : 'red';
  props.product.isFavorite = !props.product.isFavorite;
}

function addToCart(product: Product) {
  cartStore.addToCart(product);
}


function showDetails(product: Product) {
  const router = useRouter();
  router.push(`/products/${product.id}`);
}
</script>

<style scoped>
.container-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.product-card {
  width: 450px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.image-container {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-image {
  transform: scale(1.02);
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FF5722;
  transition: all 0.3s ease-in-out;
}

.product-card:hover .heart-icon {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.see-more-link {
  color: #D81B60;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.see-more-link:hover {
  color: #880E4F;
  text-decoration: underline;
}

.product-card:hover .see-more-link {
  color: #880E4F;
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.v-btn {
  width: 100px;
  height: 40px;
  font-size: 12px;
  margin: 10px;


  .v-btn span {
    font-size: 12px;
  }
}

.add-btn {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
</style>