<script setup lang="ts">
import { RouterView } from 'vue-router'


import CommentForm from '@/components/CommentForm.vue';
import Product from '@/components/Product.vue';
import type { Review } from '@/entities';
import { postReview } from '@/review-service';
import { useRouter } from 'vue-router';

const router = useRouter();

async function handleSubmit(review: Review) {
  const add = await postReview(review, 2);
  return add;
}


</script>

<template>
  <Product/>
  <RouterView />
  <CommentForm @submit="handleSubmit($event)" />
</template>

<style scoped>
</style>

